@import url(./assets/css/fonts.css);
@import url(./assets/css/backgrounds.css);
@import url(./assets/css/navbar.css);
@import url(./assets/css/cards.css);
@import url(./assets/css/sections.css);


:root {
    --color-1: #3d0e61;
    --color-2: #4e148c;
    --color-3: #613dc1;
    --color-4: #93caf6;
    --color-nav: #594d99;
    --font-1: "Roboto";
    --font-2: "Reddit Sans";
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-1);
    font-weight: 400;
}