body {
    display: grid;
    grid-template-rows: 3rem auto 3rem;
}

header {
    grid-area: 1;
    position: sticky;
    top: 0;
    z-index: 2;
}

main {
    grid-area: 2;
    display: grid;
    place-content: center;
}

footer {
    grid-area: 3;
    display: grid;
    place-content: center;
    background-color: black;
    position: relative;
    z-index: 1;
    color: white;
    font-family: var(--font-2)
}